* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Header*/
.header {
    height: 100px;
    background: #333;
    padding: 0 20px;
    color: #fff;
}

.header .img1 {
    width: 15%;
    height: 90%;
    margin-left: 20px;
}

#img {
    margin-top: 5px;
}

.menu1 {
    float: right;
    width: 55%;
    margin-top: -55px;
}

.header #img2 {
    display: none;
}

@media (max-width : 990px) {

    .header #img2 {
        display: block;
        width: 5%;
        margin-left: 5%;
    }

    .header #img {
        display: none;
    }
}

.header .menu {
    margin-left: 10%;
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.menu1 a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #50C878;
    text-decoration: none;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -111;
}

@media screen and (max-width:1260px) {
    .menu .menu1 {
        width: 70%;
    }

    .header .img1 {
        width: 15%;
        height: 90%;
    }

    .header .menu {
        margin-left: 7%;
    }

}

@media screen and (max-width:990px) {
    .menu1 span {
        display: none;
    }

    .menu1 ul {
        margin: 20px;
    }

    .menu a {
        margin: 10px;
    }

    .menu .menu1 {
        width: 65%;
    }

    .header .img1 {
        margin-top: 10px;
    }
}

@media screen and (max-width:650px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 999;
        margin: 0px;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .menu1 span {
        display: inline;
    }

    .show-menu-btn {
        position: absolute;
        top: 20px;
        right: 40px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~ .menu {
        right: 0;
    }

    .menu .menu1 {
        width: 100%;
    }

    .header .menu {
        margin-left: 0%;
    }
}

/* Footer*/
.footer-distributed {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/mines5.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 50px 50px;
    margin-bottom: 0%;
    margin-top: 1%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    margin-left: 5%;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15%;
}

.footer-distributed .footer-left i {
    background-color: white;
    color: darkblue;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    margin-left: 0%;
}

.footer-distributed .footer-left .left1 span {
    margin-left: 1%;
}

.footer-distributed .footer-left .left2 {}

.footer-distributed .footer-left .left3 {}

.footer-distributed .footer-left i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-left p {
    display: inline-block;
    color: whitesmoke;
    vertical-align: middle;
    margin: 1%;
}

.footer-distributed .footer-left p a {
    color: #e0ac1c;
    text-decoration: none;
}

.footer-distributed .footer-center {
    width: 20%;
    height: 120px;
    margin-left: 2%;
    margin-top: 3%;
}

.footer-distributed .footer-center #img {
    width: 100%;
    height: 100%;
}

.footer-distributed .footer-center #img2 {
    display: none;
    width: 100%;
    height: 100%;
}

/* Footer Right */

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-right {
    width: 30%;
    float: right;
    margin-left: 5%;
}

.footer-icons i:hover {
    transform: translateY(-1px);
}

.footer-distributed .footer-icons p {
    display: inline-block;
    color: whitesmoke;
    vertical-align: middle;
    margin: 1%;
}

.footer-distributed .footer-icons i {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    color: darkblue;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */


@media (max-width: 800px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
        margin-left: 2%;
    }

    .footer-distributed .footer-right {
        margin-top: -50px;
    }

    .footer-distributed .footer-right p {
        display: none;
    }

    .footer-distributed .footer-right .footer-icons i {
        float: left;
        margin-left: 14%;
    }

    .footer-distributed .footer-center #img2 {
        width: 25%;
        height: 100%;
        transform: translate(150%, -10%)
    }

    .footer-distributed .footer-left i {
        margin-left: 0px;
    }

    .footer-distributed .footer-left .add p {
        margin-left: -5%;
    }

    .footer-distributed .footer-center .img {
        width: 40%;
        height: 60%;
    }
}

@media (max-width: 900px) {
    .footer-distributed .footer-center #img {
        display: none;
    }

    .footer-distributed .footer-center #img2 {
        display: block;
        height: 80%;
    }
}
